<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<meta charset="ISO-8859-1"  content="width=device-width, initial-scale=1">
<title>Employee Management</title>
</head>
<body>
<div class="container">
<div class="jumbotron" style="padding:0px; padding-left:30px;background-color:gainsboro">          
<table class="table table-bordered" style="">
<tbody>
      <tr>
      	<td style="border-color:transparent">
        <h5 style="color:darkslategray"> Welcome: <span th:text="${userdetails.username}"></span>
        ( <span th:text="${userdetails.employeeType}"></span> )</h5>
		</td>
		<td style="color:darkslategray;text-align:right;margin-right:10px;vertical-align: inherit;">
		<a href="" data-toggle="modal" data-target="#myModal" style="color:darkslategray">User Details</a>&nbsp;&nbsp;&nbsp; 
		<a href="/alogout" style="color:darkslategray;">Logout
		</a>&nbsp;&nbsp;&nbsp;&nbsp;
		</td>
		
      </tr>
    </tbody>
  </table>
 </div>  

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <div class="modal-header">
          <h4 class="modal-title">Name: <span th:text="${userdetails.username}"></span></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <b>Role Name:</b> <span th:text="${userdetails.employeeType}"></span><br/>
          <b>Username:</b> <span th:text="${userdetails.username}"></span>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  
  
<div class="row">
<div class="col-sm-12" style="background-color:white;">
<form class="form-inline" th:object="${employee}" action="#" th:action="@{/adduser}" method="post">

    <div class="form-group">
      <input type="text" class="form-control" th:field="*{username}" placeholder="Username">
      <p class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" th:field="*{password}" placeholder="Password">
      <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p> 
    </div>
    
    <div class="form-group">
	    <select class="form-control" id="select" th:field="*{employeeType}">
			<option value="Staff">Staff</option>
			<option value="Manager">Manager</option>
			<option value="Admin">Admin</option>	
	    </select>
    </div>
	<div class="form-group">
		<select class="form-control" id="select" th:field="*{managerId}">
			<option value="">None</option>
			<option th:each="manager : ${managers}" th:value="${manager.id}" th:text="${manager.id}"></option>
		</select>
	</div>

    
    
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
</div>
<br/>
       
  <table class="table table-bordered">
    <thead>
      <tr align="center">
      	<th rowspan="2">Employee ID</th>
        <th rowspan="2">Username</th>
        <th rowspan="2">Password</th>
        <th rowspan="2">Role</th>
        <th rowspan="2">Manager ID</th>
        <th colspan="3">Leave</th>
        <th rowspan="2">Actions</th>
      </tr>
      <tr>
      	<th>Annual</th>
      	<th>Medical</th>
      	<th>Compensation</th>
      </tr>
    </thead>
    <tbody th:each="user : ${plist}">
      <tr>
		<td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.employeeType}"></td>
        <td th:text="${user.managerId}"></td>
        <td th:text="${user.annualLeave}"></td>
        <td th:text="${user.medicalLeave}"></td>
        <td th:text="${user.compLeave}"></td>
        <td> 
        <div th:if="${user.id != userdetails.id}">
          <form class="form-inline" action="#" th:action="@{/deleteuser}" method="post">
	     
	      <div class="form-group">
	      <input type="hidden" class="form-control" name="id"  th:value="${user.id}">
	     </div>
	      <div class="form-group">
	      <input type="hidden" class="form-control" name="employeeType"  th:value="${user.employeeType}">
	     </div>
	      <button type="submit" class="btn btn-success">Delete</button>
	      <button type="button" class="btn btn-primary" data-toggle="collapse" th:attr="data-target='#'+${user.id}">Edit</button>
    	</form>
		
        
        <div th:attr="id=${user.id}" class="collapse">
        <form class="form-inline" action="#" th:action="@{/updateuser}" method="post">

								    <div class="form-group">
								    <input type="hidden" class="form-control" th:value="${user.id}" name="id">
								    </div>
								    <div class="form-group">
								      <input type="text" class="form-control" th:value="${user.username}" name="username">
								    </div>
								    <div class="form-group">
								      <input type="text" class="form-control" th:value="${user.password}" name="password">
								    </div>
								    <div class="form-group" th:field="${user.employeeType}">
									    <select class="form-control" id="select" name="employeeType" th:selected="${user.employeeType}" value="">
									      <option value="Staff">Staff</option>
									      <option value="Manager">Manager</option>
									      <option value="Admin">Admin</option>									      
									    </select>
								    </div>
								    
									<div class="form-group" th:field="${user.managerId}">
									    <select class="form-control" id="select" name="managerId" th:selected="${user.managerId}" value="">
									      <option value="0">None</option>
									      <option th:each="manager : ${managers}" th:value="${manager.id}" th:text="${manager.id}"></option>
									    </select>
								    </div>
								    
								    <div class="form-group">
								      <input type="text" class="form-control" th:value="${user.annualLeave}" name="annualLeave">
								    </div>
								    <div class="form-group">
								      <input type="text" class="form-control" th:value="${user.medicalLeave}" name="medicalLeave">
								    </div>
								    <div class="form-group">
								      <input type="text" class="form-control" th:value="${user.compLeave}" name="compLeave">
								    </div>
								    <br/>
								    <button type="submit" class="btn btn-success">Update</button>
								    <button type="button" class="btn btn-warning" data-toggle="collapse" th:attr="data-target='#'+${user.id}">Cancel</button>
		</form>
		</div>
		</div>
        </td>
        
      </tr>
      			
    </tbody>
  </table>
</div>


</body>
</html>